body {
  font-family: "Google Sans", arial, sans-serif;
}

h1 {
  color: #3a6067;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #3a6067;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 495px;
  max-height: 1000px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid#dadde1;
  border-radius: 5px;
  background-image: url(https://i.pinimg.com/564x/4b/cf/e4/4bcfe4165dae633a1fb1ec8fb8a34272.jpg);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #28304b;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #293d51;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 70px;
  margin-right: -13px;
  background: rgb(222, 223, 220, 0.4);
  border-radius: 5px;
}

.weather-forecast h3 {
  color: #3a6067;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: #28304b;
  font-size: 13px;
  font-weight: 400px;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
